<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bucket Besties</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        #jumbo-container{
            background-color: black;
            color: white;
            margin: 0 18em;
            opacity: .85;
        }
        .more-margin{
            margin: 0 .25em .25em 0;
        }
        .list-btn{
            width: 8em;
        }
        .jumbotron{
            background-image: url(https://i.ytimg.com/vi/AV48vINy134/maxresdefault.jpg);
        }
        textarea{
            width: 25em;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div id="jumbo-container">
            <h1 class="display-4 text-center">Bucket Besties!</h1>
            <p class="lead text-center">Grab a bestie and explore the world... before it's too late!</p>
            <p id="username" class="text-center"></p>
        </div>
    </div>

    {{{body}}}
</body>

<script>
    $(document).ready(() => {
        $.ajax({
            url:"/api/user/2",
            method: "GET"
        }).then((result) => $("#username").html("Welcome " + result[0].userName))

        

        $(".complete").on("click", (e) => {
            let id = $(e.target).data("id")
            $.put('/api/complete', {
                'userID': 2,
                'activityID': id,

            }, (result) => {
                console.log(result)
                location.reload()
            })
        })

        function _ajax_request(url, data, callback, method) {
            return jQuery.ajax({
                url: url,
                type: method,
                data: data,
                success: callback
            })
        }

        jQuery.extend({
            put: function (url, data, callback) {
                return _ajax_request(url, data, callback, 'PUT')
            }
        })

        $(".add-item-btn").on("click", () => {
            $("#results-modal").modal("toggle")
        })

        $(function(){
            $("#datepicker").datepicker()
        })

        $("#new-item-submit").on("click", (e) => {
            e.preventDefault()
            let date = $("#datepicker").val().trim()
            let deadline = date.substring(6,10) + "-" + date.substring(0,2) + "-" + date.substring(3,5)

            let newItem = {
                userid: 2,
                item: $("#item-input").val().trim(),
                type: $("#category-select").val().trim(),
                deadline: deadline
            }
            console.log(newItem)
            $.post("/api/newitem", newItem, (data) => {
                console.log(data)
                $("#results-modal").modal("toggle")
                location.reload()
            })
        })

        $(".find-friend").on("click", (e) => {
            let id = $(e.target).data("id")
            var activity = $(e.target).data("activity")
            console.log(id)
            $("#friends").html("")
            $.ajax({
                url:"/api/nearbyusers/2/" + id,
                method: "GET"
            }).then((result) => {
                if(result.length == 0){
                    let html = "No friends found!"
                    $("#friends").append(html)
                }
                else{
                    for (i=0; i<result.length; i++){
                        let html = '<li><button data-activity="' + activity + '" data-user="' + result[i].userName + '" class="more-margin contact btn btn-info btn-sm">Contact </button>' + result[i].userName + ": " + result[i].distance.toFixed(2) + ' miles </li>'
                        $("#friends").append(html)
                    }
                    $(".contact").on("click", (e) => {
                        e.preventDefault()
                        $("#friends-modal").modal("toggle")
                        $("#contact-modal").modal("toggle")
                        let friend = $(e.target).data("user")
                        $("#to-friend").val(friend)
                        $("#interest").val($(e.target).data("activity"))
                    })
                }
                $("#friends-modal").modal("toggle")
            })
        })

        $(".add-from-pop").on("click", (e) => {
            alert($(e.target).data("activity"))
            alert($(e.target).data("category"))
            let newItem = {
                userid: 2,
                item: $(e.target).data("activity"),
                type: $(e.target).data("category"),
                deadline: "2019-12-31"
            }

            $.post("/api/newitem", newItem, (data) => {
                console.log(data)
                location.reload()
            })
        })
        
        $("#send-email").on("click", (e) => {
            e.preventDefault()
            let toUser = $("#to-friend").val()
            
            $.ajax({
                url:"/api/email/" + toUser,
                method: "GET"
            })
            .then((result) => {
                let newEmail = {
                    fromUser: "logged-in user",
                    email: result[0].email,
                    name: result[0].firstName,
                    message: $("#email-message").val(),
                    interest: $("#interest").val()
                }

                $.post("/form", newEmail).then((data) => {
                    if (data = "it's okay"){
                        $("#interest").val("")
                        $("#to-friend").val("")
                        $("#email-message").val("")
                        $("#contact-modal").modal("toggle")
                    }
                })
            })
        })

    })

</script>

</html>